* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  header {
    background: #49408f;
    padding: 1em 0;
  }
  
  .logo {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5em;
  }
  
  .nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav__link:hover {
    opacity: 0.75;
  }
  
  .nav__link--button {
    background: #fff;
    color: #136c72;
    padding: 0.25em 1em;
    border-radius: 10rem;
  }
  
  .container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav__list {
    display: flex;
    align-items: center;
  }
  
  .nav__list--primary {
    /* it will make element centralized */
    margin: 0 auto;
  }
  
  .nav__item + .nav__item {
    margin-left: 0.5em;
  }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.ShowUpdateButton{
    display: block;
}

.UpdateValuesForm{
    display: none;
}