<!DOCTYPE html>
<html>
<head>
	<title>{page_title}</title>
	<link rel="stylesheet" href="template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    <div class="container row">
        <a href="..\main.php" class="logo">Resting</a>
        <nav class="nav">
        <ul class="nav__list nav__list--primary">
            <li class="nav__item"><a href="..\Activities.php" class="nav__link">Activities</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="..\user\UserReservation.php" class="nav__link">Reservation</a></li>
        </ul>
        <ul class="nav__list">
            <li>
                <a class="nav__link">{session}</a>
            </li>
        </ul>
        </nav>
    </div>
    </header>

	<div class="container">
		<a href="{page_Link}"><h1>{page_Name}</h1></a>
	</div>

    <div class="container">
		<img src= "../../{page_Img}" alt="{page_Name}" height="450">
	</div>

	<div class="container">
		<h3>Price:</h3>{page_Price}
	</div>

	<div class="container">
		<h3>Address:</h3>{page_Address}
	</div>

	<div class="container">
		<h3>Details:</h3>{page_Details}
	</div>

	<div class="container">
        {ReservationForm}
	</div>

    <div class="container">
        {Comments}
	</div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                </div>
                <p class="copyright">Resting © 2023</p>
            </div>
        </footer>
    </div>


</body>
</html>
